{
  "presets": [
    "react",
    // use this instead of "es2015" so that it can keep up with browser versions
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        // smaller bundle because you're not doing crazy stuff that needs additional inclusions
        "loose": true,
        // tell Babel to skip transpiling the modules -- Webpack will work on it
        "modules": false
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-transform-es2015-modules-commonjs"
      ]
    },
    "server": {
      "plugins": [
        "babel-plugin-transform-es2015-modules-commonjs"
      ]
    }
  }
}
